{% extends 'blog/base_blog.html' %}

{% block title %}
    Список постов
{% endblock %}

{% block content_blog %}

    {% for post in post_list %}
        {% include 'blog/includes/post_card_template.html' %}
    {% endfor %}

    {% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                    <a class="page-link" href="?page=1" tabindex="-1">&laquo; В начало</a>
                </li>
                {% for n in page_obj.paginator.page_range %}
                    {% if page_obj.number == n %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ n }}">{{ n }}
                            <span class="sr-only"></span></a>
                    </li>
                    {% elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1">В конец
                        &raquo;</a>
                </li>
            </ul>
        </nav>
    {% endif %}

{% endblock %}