{% extends 'blog/base_blog.html' %}

{% block title %}
    Создать пост
{% endblock %}

{% block content %}
    <form action="{% url 'post_create_url' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary bottom-10px">Создать</button>
     </form>
{% endblock %}
