{% extends "basic.html" %}

{% block title %}
    {{ accumulator.title }}
{% endblock %}

{% block content %}

    <h6><a href="{% url 'create_accumulator_url' %}">Добавить Аккумулятор</a></h6>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5>Номер</h5>
            </div>
            <div class="col-sm">
                <h5>Примечание</h5>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

    {% for accumulator in accumulator_list %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h6><a href="{% url 'update_accumulator_url' pk=accumulator.pk %}">{{ accumulator.number }}</a></h6>
                </div>
                <div class="col-sm">
                    <p>{{ accumulator.remark }}</p>
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}