{% extends "basic.html" %}

{% block title %}
    Список аккумуляторов
{% endblock %}

{% block content %}
    <h6><a href="{% url 'create_accumulator_url' %}">Добавить аккумулятор</a></h6>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Номер</th>
                <th>Примечание</th>
            </tr>
        </thead>
        <tbody>
            {% for accumulator in accumulator_list %}
                <tr>
                    <td><h6><a href="{% url 'update_accumulator_url' pk=accumulator.pk %}">{{ accumulator.number }}</a></h6></td>
                    <td><p>{{ accumulator.remark }}</p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}