{% extends "basic.html" %}

{% block title %}
    {{ datacollectterminal.title }}
{% endblock %}

{% block content %}
    <div>
        <h4>{{ datacollectterminal.name }}</h4>
        <p>{{ datacollectterminal.get_model_display }}</p>
        <p>{{ datacollectterminal.serial_number }}</p>
        <p>{{ datacollectterminal.mac_address }}</p>
        <p>{{ datacollectterminal.user }}</p>
        <p>{{ datacollectterminal.accumulator }}</p>
        <p>{{ datacollectterminal.accumulator.date_change }}</p>
        <p>{{ datacollectterminal.remark }}</p>
    </div>
{% endblock %}