{% extends "basic.html" %}

{% block title %}
    Удаление ТСД
{% endblock %}

{% block content %}
    <h3>Удаление записи</h3>
    <form method="post">
        {% csrf_token %}

        <h5>Вы действительно хотите удалить <b>'{{ datacollectterminal.name|upper }}'</b>?</h5>
        <a href="{{ datacollectterminal.get_absolute_url }}?order={{ order }}" class="btn btn-secondary bottom-10px">Отмена</a>
        <button type="submit" name="buttom" class="btn btn-danger bottom-10px">Удалить</button>

    </form>
{% endblock %}