{% extends "basic.html" %}

{% block title %}
    Обновление ТСД
{% endblock %}

{% block content %}
    <h3>Изменение записи</h3>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p><a href="{% url 'list_dctremark_url' slug=object.slug %}">Показать историю примечаний</a> </p>
        <a href="{% url 'list_dct_url' %}" class="btn btn-secondary bottom-10px">Назад</a>
        <input type="submit" value="Сохранить" class="btn btn-secondary bottom-10px">
        <a href="{% url 'delete_dct_url' slug=object.slug %}" class="btn btn-danger bottom-10px">Удалить</a>
    </form>
{% endblock %}