{% extends "basic.html" %}

{% block title %}
    Обновление ТСД
{% endblock %}

{% block content %}
    <h3>Изменение записи</h3>
    <form method="post">
        {% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <th>
                    {{ field.label }}
                </th>
                <td>
                    {% if field.errors %}
                    <div class="alert-danger" role="alert">{{ field.errors }}</div>
                    {% endif %}
                    {% if field.field.label == 'Наименование' %}
                        <input type="text" value="{{ field.value }}" disabled>
                        <input type="hidden" name="name" value="{{ field.value }}" required id="id_name">
                    {% else %}
                        {{ field }}
                    {% endif %}
                    <br><span class="helptext text-secondary">{{ field.help_text }}</span>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if datacollectterminal.accumulator %}
            <p><h6><b>Колличество отработанных дней АКБ: {{ datacollectterminal.accumulator.lifetime }}</b></h6></p>
        {% endif %}
        <p><a href="{% url 'list_dctremark_url' slug=object.slug %}" class="btn btn-outline-primary btn-sm">
            Показать историю примечаний</a></p>
        <a href="{% url 'list_dct_url' %}?order={{ order }}" class="btn btn-secondary bottom-10px">Назад</a>
        <input type="submit" value="Сохранить" class="btn btn-secondary bottom-10px">
        <a href="{% url 'delete_dct_url' slug=object.slug %}?order={{ order }}" class="btn btn-danger bottom-10px">Удалить</a>
    </form>
{% endblock %}