{% extends "basic.html" %}

{% block title %}
    Список ТСД
{% endblock %}

{% block content %}

    <h6><a href="{% url 'create_dct_url' %}">Добавить ТСД</a></h6>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th><a href="{% url 'list_dct_url' %}" style="color: black">Номер</a></th>
            <th>Модель</th>
            <th>Серийный номер</th>
            <th><a href="{% url 'list_dct_url' %}?user=1" style="color: black">Пользователь</a></th>
            <th>MAC-адрес</th>
            <th><a href="{% url 'list_dct_url' %}?accum=1" style="color: black">S/N аккумулятора</a></th>
            <th>Примечание</th>
        </tr>
        </thead>
        <tbody>
        {% for dct in datacollectterminal_list %}
            <tr>
                <td><h6><a href="{% url 'update_dct_url' slug=dct.slug %}">{{ dct.name }}</a></h6></td>
                <td>{{ dct.get_model_display }}</td>
                <td>{{ dct.serial_number }}</td>
                <td>
                    {% if dct.user %}
                        <p>{{ dct.user }}</p>
                    {% endif %}
                </td>
                <td>{{ dct.mac_address }}</td>
                <td>
                    {% if dct.accumulator %}
                        <p>{{ dct.accumulator }}</p>
                    {% endif %}
                </td>
                <td><p>{{ dct.remark }}</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}