{% extends "basic.html" %}

{% block title %}
    {{ datacollectterminal.name }}
{% endblock %}

{% block content %}
    <h3>Изменение записи</h3>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Сохранить" class="btn btn-secondary">
        <a href="{% url 'list_dct_url' %}" class="btn btn-secondary">Назад</a>
        <a href="{% url 'delete_dct_url' pk=object.pk %}" class="btn btn-danger">Удалить</a>
    </form>
{% endblock %}