{% extends "basic.html" %}

{% block title %}
    Список ТСД
{% endblock %}

{% block content %}

    <h6><a href="{% url 'create_dct_url' %}">Добавить ТСД</a></h6>

    <table class="table">
        <thead class="thead-light">
        <tr>

            {% if order == 'number' %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=-number" class="without_underscores" style="color: black">Номер
                        <img class="arrow" src="/static/down_arrow.png" alt="v">
                    </a>
                </th>
            {% elif order == '-number' %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=number" class="without_underscores" style="color: black">Номер
                        <img class="arrow" src="/static/up_arrow.png" alt="^">
                    </a>
                </th>
            {% elif not order %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=-number" class="without_underscores" style="color: black">Номер
                        <img class="arrow" src="/static/down_arrow.png" alt="v">
                    </a>
                </th>
            {% else %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=number" class="without_underscores" style="color: black">Номер
                        <img class="arrow" src="/static/down_arrow_grey.png" alt="v" style="color: grey">
                    </a>
                </th>
            {% endif %}

            <th>Модель</th>
            <th>Серийный номер</th>

            {% if order == 'user' %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=-user" class="without_underscores" style="color: black">Пользователь
                        <img class="arrow" src="/static/down_arrow.png" alt="v">
                    </a>
                </th>
            {% elif order == '-user' %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=user" class="without_underscores" style="color: black">Пользователь
                        <img class="arrow" src="/static/up_arrow.png" alt="^">
                    </a>
                </th>
            {% else %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=user" class="without_underscores" style="color: black">Пользователь
                        <img class="arrow" src="/static/down_arrow_grey.png" alt="v" style="color: grey">
                    </a>
                </th>
            {% endif %}

            <th>MAC-адрес</th>

            {% if order == 'accum' %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=-accum" class="without_underscores" style="color: black">S/N аккумулятора
                        <img class="arrow" src="/static/down_arrow.png" alt="v">
                    </a>
                </th>
            {% elif order == '-accum' %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=accum" class="without_underscores" style="color: black">S/N аккумулятора
                        <img class="arrow" src="/static/up_arrow.png" alt="^">
                    </a>
                </th>
            {% else %}
                <th>
                    <a href="{% url 'list_dct_url' %}?order=accum" class="without_underscores" style="color: black">S/N аккумулятора
                        <img class="arrow" src="/static/down_arrow_grey.png" alt="v" style="color: grey">
                    </a>
                </th>
            {% endif %}

            <th>Примечание</th>
        </tr>
        </thead>
        <tbody>
        {% for dct in datacollectterminal_list %}
            <tr>
                <td><h6><a href="{% url 'update_dct_url' slug=dct.slug %}?order={{ order }}">{{ dct.name }}</a></h6></td>
                <td>{{ dct.get_model_display }}</td>
                <td>{{ dct.serial_number }}</td>
                <td>
                    {% if dct.user %}
                        <p>{{ dct.user }}</p>
                    {% endif %}
                </td>
                <td>{{ dct.mac_address }}</td>
                <td>
                    {% if dct.accumulator %}
                        <p>{{ dct.accumulator }}</p>
                    {% endif %}
                </td>
                <td><p>{{ dct.remark|truncatechars:30 }}</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}